---
layout: default
title: Thoughts
---
<h1>Thoughts</h1>
<div class="posts">
  {% for thought in site.thoughts %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ thought.url }}">{{ thought.title }}</a>
    </h2>

    <time datetime="{{ thought.date | date_to_xmlschema }}" class="post-date">{{ thought.date | date_to_string }}</time>

    {{ thought.content }}

    <span>[
      {% for tag in thought.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
      {% endfor %}
    ]</span>

  </article>
  {% endfor %}
</div>